  .navbar-nav .nav-item .nav-link.active {
    color: red !important; /* Changes the text color to red */
  }

  .navbar-nav .nav-item .nav-link.active::after {
    background-color: red !important; /* Optional: Adds a red underline to indicate active state */
  }

      /* Custom CSS for larger screens (laptops and above) */
      @media (min-width: 992px) {
        .custom-img {
          width: 500px;
          height: 500px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
  

